body{
    background: #053769;
}

.logo{
    display: block;
    width: 30%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    margin-top: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    border-radius: 4px;
    background-color: #E97B25;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
    
  }

  .logo-page{
      width: 20%;
      height: auto;
      margin-left: 20px;
  }
  .work-area{
      margin-top: 20px;
  }

  #answer{
    background: #071e3d;

  }

  #marking{
    background:#071e3d;

  }
 

 #rAns{
   white-space: pre-wrap;
 }
 .code{
   background: #2b2b2b ;
   color: #FFFFFF;
 }
  